@import "./src/styles/fonts";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.container {
  display: flex;
  cursor: pointer;

  &_content {
    padding: 40px 40px;

    &__heading {
      font: 500 22px/14px "Poppins";
    }

    &__footer {
      margin-top: 30px;

      &__upper {
        &__number {
          margin-left: 15px;
        }
      }

      &__lower {
        margin-top: 5px;
        &__number {
          margin-left: 13px;
          text-decoration: none;
          color: darkgray;

          &:hover {
            color: darkgray;
          }
        }
      }
    }
  }
}
